body {
  background-color: white  ;
}
.principal {
  display: flex;
  justify-content: center;
align-content: center;

}
.imagen {
display: flex;
justify-content: center;
align-content: center;
}

h1 {
  
  color: blue;
  
  }
h2{
  color: aquamarine;
}
.botonC{
  display: flex;
  justify-content: center;
  align-content: center;
  color:brown;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 700;
  border-radius: 25px;
  padding: 10px 50px;
  text-decoration: none;

}
.botonJ{
  display: flex;
  justify-content: center;
  align-content: center;
  color: rebeccapurple;
}

.inicio{
  display: flex;
  flex-direction: row ;
  justify-content: space-evenly;
}

.titulo{
  color: black;
}

.mano-Jugador{
  width: 300px;
  height: 400px;
}
.mano-Computadora{
  width: 300px;
  height: 400px;
}

.lugar{
  display: flex;
  flex-direction: row ;
  justify-content: space-evenly;
}

.puntajeJ{
  display: flex;
  justify-content: center;
  color: black;
}
.puntajeC{
    display: flex;
    justify-content: center;
    color: black;
}
.botonJ{
  width: 150px;
  height: 50px;
  align-items: center;
  background-color: rgb(182, 124, 47);
  color: white;
  border: none;
}

#Botones{
  display: flex;
  justify-content: center;
  align-content: center;
  
  
}
#Botones > button > img{
  width: 300px;
  height: 400px;
}
#start-text{
  font-size: 36px;
  padding: 20px;
}